body {
  background-color: #d9e5e0;
  padding-top: 3rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    font-size: 3rem;
    text-decoration: underline wavy;
}

#tasks-container {
  border: solid #285d3d;
  border-radius: 1rem;
  box-shadow: 1rem 1rem #31724b;
}

li {
  margin-top: 1rem;
  list-style-type: none;
}

p {
  display: inline-block;
  margin: 0 1rem;
}

#edit-input {
  margin: 0 1rem;
}

i {
  cursor: pointer;
}

.iframe-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
