body {
  background-color: #D9E5E0;
  padding-top: 3rem;
}

#tasks-container {
  border: solid #285d3d;
  border-radius: 1rem;
  box-shadow: 1rem 1rem #31724b;
}

li {
  margin-top: 1rem;
  list-style-type: none;
}

p {
  display: inline-block;
  margin: 0 1rem;
}

.iframe-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
